{%extends 'base.html'%}
{% load static %}
{% block body %}

    <main>
        <!-- Hero Start-->
        <div class="hero-area2  slider-height2 hero-overly2 d-flex align-items-center ">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="hero-cap text-center pt-50">
                            <h2>Vê chúng tớ</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Hero End -->
        <!-- About Details Start -->
        <div class="about-details section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle5 mb-80">
                            <span>Về SEE</span>
                            <h2>Chúng tớ tham dự Shecodes hackathon 2021 với mong muốn mọi trẻ em đều có thể tiếp cận với sách giấy gần nơi mình nhất</h2>
                        </div> 
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-4">
                        <h3>Sứ mệnh</h3>
                        <p>Sẽ cập nhật hihi</p>
                    </div>
                    <div class="col-lg-5">
                        <h3>Kế hoạch</h3>
                        <p>Sẽ cập nhật hihi</p>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Details End -->
        <!-- peoples-visit Start -->
        <div class="peoples-visit dining-padding-top">
            <!-- Single Left img -->
            <div class="single-visit left-img">
                <div class="container">
                    <div class="row justify-content-end">
                        <div class="col-lg-8">
                            <div class="visit-caption">
                                <span>Chúng tớ mang lại điều gì</span>
                                <h3>Every Month, Millions of People 
                                    visit this site We’ve Built.</h3>
                                <p>Unlike what its name implies, dry cleaning is not actually a 'dry' process. Clothes are soaked in a different solvent.</p>
                                <!--Single Visit categories -->
                                <div class="visit-categories mb-40">
                                    <div class="visit-location">
                                        <span class="flaticon-travel"></span>
                                    </div>
                                    <div class="visit-cap">
                                        <h4>Great places in the world</h4>
                                        <p>Unlike what its name implies, dry cleaning is not actu  process. Clothes soaked differentent.
                                        </p>
                                    </div>
                                </div>
                                <!--Single Visit categories -->
                                <div class="visit-categories">
                                    <div class="visit-location">
                                        <span class="flaticon-work"></span>
                                    </div>
                                    <div class="visit-cap">
                                        <h4>Biggest category listing</h4>
                                        <p>Unlike what its name implies, dry cleaning is not actu  process. Clothes soaked differentent.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- peoples-visit End -->
     
        <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150 section-bg" data-background="assets/img/gallery/section_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- Section Tittle -->
                        <div class="section-tittle section-tittle2 text-center mb-80">
                            <span>Dễ dàng khám phá</span>
                            <h2>SEE hoạt động như thế nào</h2>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-between">
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-list"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">1. Chọn thể loại sách</a></h5>
                                <p>Chúng tớ có rát nhiều loại sách nhé</p>
                            </div>
                            <!-- Shpape -->
                            <img class="shape1 d-none d-lg-block" src="assets/img/icon/serices1.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-problem"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">2. Tìm tên Sách</a></h5>
                                <p>Việc còn lại để SEE lo nhé</p>
                            </div>
                            <img class="shape2 d-none d-lg-block" src="assets/img/icon/serices2.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="single-services text-center mb-50">
                            <div class="services-icon">
                                <span class="flaticon-respect"></span>
                            </div>
                            <div class="services-cap">
                                <h5><a href="#">3. Khám phá</a></h5>
                                <p>khám phá sách mà bạn yêu thích nhé</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- Popular Locations Start -->
       

    </main>
{%endblock %}