
{%extends 'base.html'%}

{% load static %}
{% block title %}- Password Reset Sent {% endblock %}
{% block body %}  

<div class="container mt-5 ">
<div class="card">
	<div class="card-header">
		<a href="{%url 'home'%}"><h4>Back to Home</h4></a>
		
	</div>
	<div class="card-body">
		
		<div class="alert alert-light-success color-success"><i
				class="bi bi-check-circle"></i> 

			Password reset sent	

			<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>
			<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.
			</p>
		</div>
		
	</div>
</div>
</div>
{% endblock %}
