
{%extends 'base.html'%}

{% load static %}
{% block title %}- Password Reset Complete {% endblock %}
{% block body %}  

<div class="container mt-5 ">
<div class="card">
	<div class="card-header">
		<a href="{%url 'home'%}"><h4>Back to Home</h4></a>
		
	</div>
	<div class="card-body">
		
		<div class="alert alert-light-success color-success"><i
				class="bi bi-check-circle"></i> 

			Password reset Complete

			<p>Your password has been set. You may go ahead and log in now.</p>
			<a href="{%url 'login'%}"><h4>Login now</h4></a>
		
		</div>
		
	</div>
</div>
</div>
{% endblock %}
